h2{
	text-align:center; 
	font-size: 40px;
	font-family: 'Damion', cursive;
}
h3{
	text-align:center; 
	font-style: italic;
	font-size: 28px;
	
}
#competitors{
	color:rgb(255,0,0);
} 
.home_images{
	display: block;
    margin: 0 auto;
	height: 400px;
	width: 600px;
	border-style:outset;
	transition: width 3s, height 3s;
}
.home_images:hover {
    width: 300px;
	height: 300px;
}
.description_text{
	color: rgb(255, 165, 0);
	font-style: italic;
}
p{
	font-size: 22px;
	text-indent: 50px;
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
}
